<div class="container">
    <div class="ui middle aligned center aligned grid">
        <div class="ui eight wide column">
   
            <form class="ui large form">
                
                <div class="ui icon negative message">
                    <i class="warning icon"></i>
                    <div class="content">
                        <div class="header">
                            Oops! Płatność nieudana.
                        </div>
                    </div>
            
                </div>
            </form>
        </div>
    </div>
</div>
<input class="ui large teal submit fluid button" type="button" value="Spróbuj ponownie" onclick="location.href='@Url.Action("Payment")'" />